//- The default footer

div(class="taball-footer shadow-2-strong text-center w-100 bg-dark text-muted")
    small(class="d-none d-sm-inline") 桃園市中大國民運動中心　TYCNCUCSC
    div(class="d-inline d-sm-none")
        small 桃園市中大國民運動中心<br>TYCNCUCSC
    br
    small 網站：
    a(class="badge rounded-pill text-dark", href="https://www.facebook.com/NCUSportsCenter", style="background-color: #a3a3a3 !important;") www.facebook.com/NCUSportsCenter
    hr

    div(class="d-none d-sm-inline")
        small 國立中央大學　National Central University
        br
        small 網站：
        a(class="badge rounded-pill text-dark", href="https://www.ncu.edu.tw", style="background-color: #a3a3a3 !important;") www.ncu.edu.tw
        small &nbsp;． 地址：( 32001 / 320317 ) 桃園市中壢區中大路 300 號 ． 總機：(03)-422-7157
    div(class="d-inline d-sm-none")
        small 國立中央大學<br>National Central University
        br
        small 網站：
        a(class="badge rounded-pill text-dark", href="https://www.ncu.edu.tw", style="background-color: #a3a3a3 !important;") www.ncu.edu.tw
        br
        small 地址：( 32001 / 320317 ) 桃園市中壢區中大路 300 號<br>總機：(03)-422-7157
    hr

    small(class="d-none d-sm-inline") 桃園市中大國民運動中心 - 智慧桌球室　TYCNCUCSC - TABALL
    div(class="d-inline d-sm-none")
        small 桃園市中大國民運動中心 - 智慧桌球室<br>TYCNCUCSC - TABALL
    br
    small &copy; 2021 Copyright: 
    a(class="badge rounded-pill text-dark", href="#", style="background-color: #a3a3a3 !important;") taball.has.no.domain.name
