//- The default heading

div(class="taball-jumbotron shadow-2-strong text-center rounded-0 m-0 bg-dark text-white")
    div(class="d-none d-sm-inline")
        h1(class="font-weight-normal")
            | 桃園市中大國民運動中心
            br(class="d-lg-none")
            span(class="d-none d-lg-inline") &nbsp;-&nbsp;
            | 智慧桌球室
        h2(class="font-weight-light", style="font-size: 1.75rem;") TYCNCUCSC - TABALL
    div(class="d-inline d-sm-none")
        h1(class="font-weight-normal", style="font-size: 1.75rem;") 桃園市中大國民運動中心<br>智慧桌球室
        h2(class="font-weight-light", style="font-size: 1.25rem;") TYCNCUCSC - TABALL 
