//- The link to Font Awesome 5 CSS

//- link(rel="stylesheet", href="/assets/taball/fontawesome-free-5.9.0-web/css/all.min.css")
link(rel="stylesheet", href="/assets/taball/fontawesome-free-5.15.3-web/css/all.min.css")
