//- The script of the Bootstrap (must be load in this order)

script(src="/assets/taball/bootstrap-material/others/jquery-3.4.1.slim.min.js")
script(src="/assets/taball/bootstrap-material/others/popper-1.15.0-umd.min.js")
script(src="/assets/taball/bootstrap-material/js/bootstrap-material-design.min.js")
script(src="/assets/taball/js/bmd-init.js")
